.main-nav ul {
    list-style-type: none;
    display: flex;
    gap: 16px;

}

.header-logo, .main-nav a {
    color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
    text-decoration: none; /* Removes the underline of the links at the navigation bar */
}

.header-logo {
    font-size: 18px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}


body {
    background-color: #1F2937;
}

.section-one {
    color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
}

.section-one h1 {
    margin: 0;
  }
